.title {
  margin: 0;
  font-size:calc((100vw - 360px)/(1440 - 360) * (26 - 26) + 26px);
}

.list {
  padding: 20px 0 20px;
  & ul {
    margin: 0;
    padding: 0;
  }
  & li {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size:calc((100vw - 360px)/(1440 - 360) * (22 - 22) + 22px);

    & a {
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }

  }
}