:root {

  --color-dark: #323854;
  --color-dark-grey: #79747f;
  --color-border-card: #fff1cb;
  --color-green: #d7f0d6;
  --color-green-dark: #bbe7b9;
  --color-green-visited: #364936;
  --color-orange: #FF3D00;
  --color-white: #FFFF;


  // alert
  --color-alert: #e12828;
}
