.input {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  color: var(--color-dark);
  &:focus-visible {
    outline: 2px solid var(--color-green);
  }
}

.error {
  color: var(--color-alert);
  font-weight: bold;
  &:focus-visible {
    outline: 2px solid var(--color-alert);
    border: 1px solid var(--color-alert);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}