.container {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  gap: 30px;
  padding: 20px;
  align-self: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px
}

@media (max-width: 576px) {
  .user {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .content {
    flex-direction: row;
    align-items: center;

  }
  .user {
    gap: 5px;
  }
}